.shopping-list {
  list-style: none;
  display: flex;
  align-content: space-between;
  gap: 10px;
  padding: 10px;
  overflow-x: auto;
  width: 100%;
}

.shopping-list__item {
  background-color: tomato;
}

.shopping-list__item button {
  height: auto;
  width: auto;
}
